<div class="search-harbor home">

<%= form_for @harbor do |f| %>

  <%= f.label :name %>
	<%= f.select 'id', options_for_select(Harbor.all.collect {|u| [u.name, u.id] }) %>

	<%= f.submit 'Search'%>
<% end %>

</div>
