// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-profile {
  background-color: #e6e6e6;
}

.profile-table .rent-request-tr:hover{
   cursor: pointer;
   background: red;
}
#rent-requests {
  color: #4d4dff;

}
#rent-requests:hover {
  color: #0000ff;
}

.profile-links {
  color: #4d4dff;
}
