
<h3>Puertos de <%= @harbor.name %></h3>

<ul>

	<% @docks.each do |dock| %>


	<li>
		<strong>Dock plate: <%= dock.dock_plate %></strong><br>
    - Size: <%= dock.size %><br>
		- Price: <%= dock.price %><br>
		
	</li>
	<br>
	<br>
	<% end %>

</ul>
